---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Meaning from '../components/Meaning.astro';
import Facts from '../components/Facts.astro';
import Limitations from '../components/Limitations.astro';
---

<Layout title="Home">
	<main>

		<Hero />
		<Meaning />
		<Facts />
		<Limitations />
		
	</main>
</Layout>

<style>
	
</style>
