---

---

<div class="facts">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="icon-box">
                    <img src="images/icon-eating.svg" alt="icon">

                    <h3>Healthy eating</h3>

                    <p>Healthy eating promotes weight control, disease prevention, better digestion, immunity, mental clarity, and mood.</p>
                </div>
            </div>

            <div class="col">
                <div class="icon-box">
                    <img src="images/icon-exercise.svg" alt="icon">

                    <h3>Regular exercise</h3>

                    <p>Exercise improves fitness, aids weight control, elevates mood, and reduces disease risk, fostering wellness and longevity.</p>
                </div>
            </div>

            <div class="col">
                <div class="icon-box">
                    <img src="images/icon-sleep.svg" alt="icon">

                    <h3>Adequate sleep</h3>

                    <p>Sleep enhances mental clarity, emotional stability, and physical wellness, promoting overall restoration and rejuvenation.</p>
                </div>
            </div>
        </div><!-- .row -->
    </div>
</div>

<style>
    .facts {
        background: linear-gradient(290.1deg, rgba(214, 230, 254, 0.2) 0%, rgba(214, 252, 254, 0.2) 100%);
        border-radius: 3.5rem;
        margin: 9.6rem 2.4rem 0;
        padding: 7.2rem 0 9.6rem;
    }

    .facts .row {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 3.2rem;
    }

    .facts .icon-box {
        max-width: 34rem;
    }
</style>