---

---

<div class="hero">
    <div class="bg-wrapper">
        <img src="images/logo.svg" alt="logo">

        <div class="content-wrapper">
            <h1 class="title">Body Mass Index Calculator</h1>

            <p class="text">
                Better understand your weight in relation to your height using our body mass index (BM) calculator. While BMI is not the sole determinant of a healthy weight, it offers a valuable starting point to evaluate your overall health and well-being.
            </p>
        </div>
    </div>
</div>

<style>
    .hero {
		margin-left: 2.4rem;
	}

	.hero .bg-wrapper {
		background: linear-gradient(290.1deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
		border-radius: 0px 0px 3.5rem 3.5rem;
		min-height: 73rem;
		padding-top: 7.5rem;
		padding-left: 11.6rem;
		max-width: 98rem;
	}

	.hero .content-wrapper {
		max-width: 45rem;
	}
</style>