---

---

<div class="limitations">
    <div class="container">
        <div class="row one">
            <div class="col">
                <h2 class="title">Limitations of BMI</h2>

                <p>Although BMI is often a practical indicator of healthy weight, it is not suited for every person. Specific groups should carefully consider their BMI outcomes, and in certain cases, the measurement may not be beneficial to use.</p>
            </div>

            <div class="col">
                <div class="icon-box">
                    <div class="title-wrapper">
                        <img src="images/icon-gender.svg" alt="icon">

                        <h4>Gender</h4>
                    </div>

                    <p>The development and body fat composition of girls and boys vary with age. Consequently, a child's age and gender are considered when evaluating their BMI.</p>
                </div>
            </div>
        </div><!-- .row -->

        <div class="row two">
            <div class="col">
                <div class="icon-box">
                    <div class="title-wrapper">
                        <img src="images/icon-age.svg" alt="icon">

                        <h4>Age</h4>
                    </div>

                    <p>In aging individuals, increased body fat and muscle loss may cause BMI to underestimate body fat content.</p>
                </div>
            </div>

            <div class="col">
                <div class="icon-box">
                    <div class="title-wrapper">
                        <img src="images/icon-muscle.svg" alt="icon">

                        <h4>Muscle</h4>
                    </div>

                    <p>BMI may misclassify muscular individuals as overweight or obese, as it doesn't differentiate muscle from fat.</p>
                </div>
            </div>
        </div><!-- .row -->

        <div class="row three">
            <div class="col">
                <div class="icon-box">
                    <div class="title-wrapper">
                        <img src="images/icon-pregnancy.svg" alt="icon">

                        <h4>Pregnancy</h4>
                    </div>

                    <p>Expectant mothers experience weight gain due to their growing baby. Maintaining a healthy pre-pregnancy BMI is advisable to minimise health risks for both mother and child.</p>
                </div>
            </div>

            <div class="col">
                <div class="icon-box">
                    <div class="title-wrapper">
                        <img src="images/icon-race.svg" alt="icon">

                        <h4>Race</h4>
                    </div>

                    <p>Certain health concerns may affect individuals of some Black and Asian origins at lower BMIs than others. To learn more, it is advised to discuss this with your GP or practice nurse.</p>
                </div>
            </div>
        </div><!-- .row  -->
    </div><!-- .container  -->
</div>

<style>
    .limitations {
        margin: 12rem 0;
    }

    .limitations .title {
        margin-bottom: 3.5rem;
    }

    .limitations .row {
        display: flex;
        align-items: center;   
        justify-content: center;
    }

    .limitations .row.one {
        align-items: flex-start;
        column-gap: 13.2rem;
    }

    .limitations .row.two {
        justify-content: flex-end;
        margin-top: 3.2rem;
    }

    .limitations .row.three {
        margin-top: 2.4rem;
    }

    .limitations .row.two,
    .limitations .row.three {
        column-gap: 3.2rem;
    }

    .limitations .row.two .col,
    .limitations .row.three .col {
        flex: unset;
    }

    .limitations .icon-box {
        background-color: var(--white);
        box-shadow: 1.6rem 3.2rem 5.6rem rgba(143, 174, 207, 0.25);
        border-radius: 1.6rem;
        padding: 3.2rem;
        max-width: 36.5rem;
    }

    .limitations .icon-box .title-wrapper {
        display: flex;
        align-items: center;
        column-gap: 1.6rem;
        margin-bottom: 1.6rem;
    }

    .limitations .icon-box img {
        width: 3.2rem;
        height: 3.2rem;
    }
</style>