---

---

<div class="meaning">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="images/image-man-eating.webp" alt="man eating sushi">
            </div>

            <div class="col">
                <div class="content-wrapper">
                    <img class="line-left" src="images/pattern-curved-line-left.svg" alt="curved line">

                    <h2>What your BMI result means</h2>

                    <p>A BMI range of 18.5 to 24.9 is considered a 'healthy weight.' Maintaining a healthy weight may lower your chances of experiencing health issues later on, such as obesity and type 2 diabetes. Aim for a nutritious diet with reduced fat and sugar content, incorporating ample fruits and vegetables. Additionally, strive for regular physical activity, ideally about 30 minutes daily for five days a week.</p>
                </div>
            </div>
        </div><!-- .row -->
    </div>
</div>

<style>
    .meaning {
        margin-top: 6.5rem;
    }

    .meaning .row {
        display: flex;
        align-items: flex-end;
        column-gap: 13rem;
        position: relative;
    }

    .line-left {
        position: absolute;
        right: 3rem;
        top: -6rem;
    }

</style>